<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div id = "container">
  <input id = "CommentBox" type= "text" placeholder="Write a comment..." #comment > 
    <button class="button" type="submit"  (click)="onClickMe(comment)">Sumbit</button>
   
<app-section *ngFor =" let comments of CommntArr"
        [comment]="comments"
        (onVoted)="onVoted($event)"   (onReplied)="onReplied($event)"  >
</app-section>
    <ul *ngIf= "Commentreplies">
    <input type= "text" placeholder="Write a reply..." #reply > 
    <button  class="button" type="submit"  (click)="onClickReply(reply,Commentreplies)">Comment</button>
   </ul>
</div>
</div>

  
    

  



